{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/stylelivro.css' %}" />
    <title>Document</title>
</head>
<body>
    <center>
        <legend><h1>Cadastro Livro</h1></legend>
    </center>        
<fieldset>      
      
    <center>
        <form action="/processar" method="post">
            {% csrf_token %}
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required><br>
            <br>
            <br>
            <label for="dataNascimento">Data de Nascimento:</label><br>
            <input type="date" id="dataNascimento" name="dataNascimento" required><br>
            <br>
            <br>
          
            <label for="quantidade">Quantidade:</label>
            <input type="tel" id="telefone" name="telefone" required>
            
            <label for="ano">Ano:</label>
            <input type="date" id="cpf" name="cpf" required><br>
            <br>
            <br>
            <label for="Categoria">Categoria:</label><br>
            <input type="text" id="login" name="login" required><br>
            <br>
            <br>

            <label for="idioma">Idioma:</label><br>
            <input type="text" id="senha" name="senha" required><br>
            <br>
            <br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required><br>
            <br>
            <br>
           

            <input type="submit" value="Cadastrar">
            <input type="submit" value="Cancelar">
        </form>
    </center>
</fieldset>

</body>
</html>