body {
    background-image: url('/imgs/background.jpg'); /* Imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra o fundo */
    background-attachment: fixed; /* A imagem se move com o scroll */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}
#artigo h3{
    width: 400px;
}
#hover :hover{
    background-color: rgb(255, 0, 0);
    color: black;
}
#artigo{
    margin: 0 auto;
    width: 65%;
}
#carouselExampleCaptions{
    margin: 0 auto;
    width: 80%; /* Ajuste a largura conforme necessário */
}
#carouselExampleCaptions {
    max-width: 1000px;
    max-height: 600px;
}
.carousel-inner img {
    width: 100%; /* Faz a imagem preencher todo o espaço do carrossel */
    height: 500px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
    
}

.summary {
    position: fixed ;
    top: 200px;
    left: 1400px;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    color: white;
    width: 200px;
    height: 200px;
}

.summary a {
    text-decoration: none;
    color:brown;
    margin-bottom: 5px;
    display: block;
}

  /* Estilo dos tópicos */
.topic {
    margin: 10px 0;
}

/* h2 {
    color: #333;
} */
.art{
    color: white;
    width: 800px;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 30px;
    padding: 10px;
}
.card{
    margin: 0 auto;
    background-color: #000000;
    color: white;
    width: 600;
    

}
.out{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.heading-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0); /* Fundo com transparência */
    padding: 0px; /* Espaçamento ao redor do texto */
    margin: 10px 0; /* Margem superior e inferior */
  }
  
  .heading-with-lines {
    position: relative;
    color: #ff4747; /* Cor do texto */
    font-size: 2em; /* Ajuste conforme necessário */
    padding: 2px 2px; /* Para dar um espaçamento interno no texto */
  }
  
  .heading-container::before,
  .heading-container::after {
    content: ''; /* Elemento vazio para as linhas */
    position: absolute;
    top: 39%;
    width: 31.6%; /* Tamanho da linha */
    height: 2px; /* Espessura da linha */
    background-color: #ff4747; /* Cor das linhas */
  }
  
  .heading-container::before {
    left: 0;
  }
  
  .heading-container::after {
    right: 0;
  }
  
#rodape p{
    color: #ffffff;
    text-decoration: none;
    border-radius: 0px;
    padding: 2%;
    width: 100%;
    font-size: 20px;
    text-decoration: underline rgba(0, 0, 0, 0.507) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#rodape a{
    color: black;
    text-decoration: none;
    /* display: inline; */
    line-height: 2;
    font-size: 18px;
    /* line-height: 3; */
    /* padding-bottom: 1%; */
}
.news{
    width: 900px;
}
.redes{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.671);
    width: 740px;
    border-radius: 10px;
    padding: 2px;
}

.footer {
    background-color: #1b1b1b;
    text-align: center;
    padding: 20px;
    color: #dcdcdc;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; /* Ajuste a altura conforme necessário */
  }
  
  .footer p {
    margin: 5px 0;
  }