*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: rgb(16, 0, 61);
    color: aliceblue;
}

body{    
    width: 900px;
    margin: 0 auto;
}

h1{
    font-family: sans-serif;
    font-size: 25px;
}

h2{
color: #808080;
font-size: 20;
border-bottom: 2px solid gray;

}

img{
    width: 300px;
    float: left;
}

#principal{
width: 590px;
float: left;
text-align: justify;
margin-right: 10px;

}
#secundario{
width: 300px;
float: right;
}
#rodape{
    text-align: center;
    font-size: 10px;
    clear: both;
    border-top: 1px solid gray;
}