body {
    background-image: url('background.jpg'); /* Imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra o fundo */
    background-attachment: fixed; /* A imagem se move com o scroll */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}
#hover :hover{
    background-color: rgb(255, 0, 0);
    color: black;
}
#artigo{
    margin: 0 auto;
    width: 65%;
}
#carouselExampleCaptions{
    margin: 0 auto;
    width: 80%; /* Ajuste a largura conforme necessário */
}
#carouselExampleCaptions {
    max-width: 1000px;
    max-height: 600px;
}
.carousel-inner img {
    width: 100%; /* Faz a imagem preencher todo o espaço do carrossel */
    height: 500px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}
.summary {
    position: fixed;
    top: 200px;
    left: 1400px;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}

.summary a {
    text-decoration: none;
    color:brown;
    margin-bottom: 5px;
    display: block;
}

  /* Estilo dos tópicos */
.topic {
    margin: 100px 0;
}

h2 {
    color: #333;
}
.art_resume{
    color: white;
    width: 950px;
    margin: 0 auto;
    
}
#rodape{
    text-decoration: none;
    
}