/* #img_bg{
        background-image: url('background.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat:no-repeat; 
        background-attachment:scroll;
        height: 100vh; 
        background-color: black;  
        margin: 0 auto;       
} */

body {
    background-image: url('background.jpg'); /* Imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra o fundo */
    background-attachment: fixed; /* A imagem se move com o scroll */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
  }

#artigo{
    margin: 0 auto;
    width: 65%;
}
.art_resume{
    color: white;
    width: 950px;
    margin: 0 auto;
}

#carouselExampleCaptions{
        margin: 0 auto;
        width: 80%; /* Ajuste a largura conforme necessário */
}

#img_bg .content {
    position: relative;
    color: white; /* Para o texto ficar visível sobre a imagem */
    text-align: center;
    padding: 20px;
}

#hover :hover{
    background-color: rgb(255, 0, 0);
    color: black;
}


#carouselExampleCaptions {
    max-width: 1000px;
    max-height: 600px;
}
.carousel-inner img {
    width: 100%; /* Faz a imagem preencher todo o espaço do carrossel */
    height: 500px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

#rodape{
    
}